/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.column-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}
.row-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.plots-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    margin: 8px !important;
}